
$font: Roboto;
$header-size: 3rem;
$subheader-size: 1.6rem;

$header-color: rgb(100, 130, 173);
$content-background-color: rgb(245, 237, 237);
$sidebar-color: rgb(127, 161, 195);

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }
}

#todo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}


#content-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#header {

}

#sidebar {
    min-width: 300px;


}

#content {
    width: 100%;

}