$font: Roboto;
$header-size: 3rem;
$subheader-size: 1.6rem;

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    body {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
    }
}

#todo-container {
    width: 100%;
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar content";
    grid-template-rows: min-content 1fr;
    grid-template-columns: max-content 1fr;
    border: 1px solid black;
}

#header {
    grid-area: header;
}

#sidebar {
    grid-area: sidebar;
}

#content {
    grid-area: content;
}