@use 'container';

#header {
    font-family: container.$font;
    font-size: container.$header-size;
    font-weight: 500;
    padding: 20px;
    padding-left: 4rem;
    background-color: container.$header-color;
}