@use 'container';
@use 'content';
@use 'header';

$sidebar-font-color: rgb(64, 93, 114);
$btn-selected-color: rgba(245, 237, 237, 0.8);
$btn-hover-border-color: rgb(64, 93, 114);

#sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: auto;
    font-family: Inter;
    background-color: $sidebar-color;
    align-items: center;
    padding: 40px 0;
    color: $sidebar-font-color;
    transition: 0.25s;

    &.hide-sidebar {
        display: none;
    }

    &.show-sidebar {
        display: block;
    }
}

.sidebar-project-div {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    margin: 40px 0 20px 0;

    .sidebar-projects-header {
        font-size: container.$subheader-size;
        font-weight: 600;
        margin: 10px 0 20px 0;
        border-bottom: 2px solid $sidebar-font-color;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .add-project-btn {
            @include content.item-icon-btn;
            background-color: $sidebar-color;
            fill: $sidebar-font-color;
        }
    }
}

.sidebar-btn {
    box-sizing: border-box;
    font-size: 1.2rem;
    background-color: $content-background-color;
    border: 3px solid $sidebar-color;
    cursor: pointer;
    text-align: left;
    max-width: 250px;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    color: $sidebar-font-color;
    transition: 0.4s ease-in-out;

    &:hover {
        border: 3px solid $btn-hover-border-color;
    }
}

.project-btn {
    @extend .sidebar-btn;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: center;

    .project-label {
        padding: 10px;
        width: 100%;
    }

    .project-delete-btn {
        @include content.item-icon-btn; 
        width: 2.5rem;
        height: 2.5rem;
        padding: 8px;
        background-color: $content-background-color;
    }
}

@media only screen and (max-width: 1000px) {
    #sidebar {
        z-index: 5;
        &.show-sidebar {
            position: fixed;
            height: 100%;
            padding-left: 40px;
            opacity: 1;
        }
    }
}