@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar {
  min-width: 300px;
}

#content {
  width: 100%;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar {
  min-width: 300px;
}

#content {
  width: 100%;
}

#content {
  font-family: Roboto;
  background-color: rgb(245, 237, 237);
}

#content .content-header {
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
}

#content.blur-content {
  opacity: 0.3;
}

.tasks-div {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.tasks-div .tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid rgb(100, 130, 173);
  padding: 15px 30px;
}

.tasks-div .tasks-header button {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(245, 237, 237);
}

.tasks-div .task-list {
  padding: 0px 30px 10px 30px;
  margin: 20px 0;
  overflow: auto;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgb(235, 229, 229);
  margin: 10px 0 15px 0;
}

.task-item .item-left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task-item .item-left-part .item-checkbox {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  background-color: rgb(245, 237, 237);
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.task-item .item-left-part .item-title {
  font-size: 1.2rem;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-item .item-right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-width: 300px;
}

.task-item .item-right-part .item-due-date {
  font-weight: 500;
  font-size: 0.8rem;
}

.task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
}

.task-item.task-complete {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-left-part .item-checkbox {
  background-color: #6482AD;
}

.task-complete .item-left-part .item-title {
  text-decoration: line-through;
}

.task-complete .item-right-part .item-edit-btn {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-right-part .item-delete-btn {
  background-color: rgb(201, 201, 201);
}

.priority-low {
  border-left: 15px solid #508D4E;
}

.priority-medium {
  border-left: 15px solid #F9E400;
}

.priority-high {
  border-left: 15px solid #E4003A;
}

@media (max-width: 1200px) {
  .task-item .item-left-part .item-title {
    max-width: 250px;
  }
}
@media (max-width: 1000px) {
  .task-item .item-left-part .item-title {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .task-item .item-left-part .item-title {
    max-width: 150px;
  }
  .task-item .item-right-part {
    min-width: 200px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .task-item .item-right-part .item-due-date {
    width: 50px;
  }
}
@media (max-width: 480px) {
  .task-item {
    padding: 5px 10px;
  }
  .task-item .item-left-part .item-checkbox {
    margin-right: 0.5rem;
  }
  .task-item .item-left-part .item-title {
    font-size: 1rem;
    min-width: 75px;
    max-width: 75px;
  }
  .task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
    width: 1.3rem;
    height: 1.3rem;
  }
}
#header {
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 500;
  padding: 20px;
  padding-left: 4rem;
  background-color: rgb(100, 130, 173);
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}

#menu-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(100, 130, 173);
  display: none;
}

@media only screen and (max-width: 1000px) {
  #menu-btn {
    display: block;
  }
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: auto;
  font-family: Inter;
  background-color: rgb(127, 161, 195);
  align-items: center;
  padding: 40px 0;
  color: rgb(64, 93, 114);
  transition: 0.25s;
}
#sidebar.hide-sidebar {
  display: none;
}
#sidebar.show-sidebar {
  display: block;
}

.sidebar-project-div {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  margin: 40px 0 20px 0;
}
.sidebar-project-div .sidebar-projects-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 10px 0 20px 0;
  border-bottom: 2px solid rgb(64, 93, 114);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar-project-div .sidebar-projects-header .add-project-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: rgb(127, 161, 195);
  fill: rgb(64, 93, 114);
}

.sidebar-btn, .project-btn {
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: rgb(245, 237, 237);
  border: 3px solid rgb(127, 161, 195);
  cursor: pointer;
  text-align: left;
  max-width: 250px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  color: rgb(64, 93, 114);
  transition: 0.4s ease-in-out;
}
.sidebar-btn:hover, .project-btn:hover {
  border: 3px solid rgb(64, 93, 114);
}

.project-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
.project-btn .project-label {
  padding: 10px;
  width: 100%;
}
.project-btn .project-delete-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  padding: 8px;
  background-color: rgb(245, 237, 237);
}

@media only screen and (max-width: 1000px) {
  #sidebar {
    z-index: 5;
  }
  #sidebar.show-sidebar {
    position: fixed;
    height: 100%;
    padding-left: 40px;
    opacity: 1;
  }
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar {
  min-width: 300px;
}

#content {
  width: 100%;
}

#content {
  font-family: Roboto;
  background-color: rgb(245, 237, 237);
}

#content .content-header {
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
}

#content.blur-content {
  opacity: 0.3;
}

.tasks-div {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.tasks-div .tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid rgb(100, 130, 173);
  padding: 15px 30px;
}

.tasks-div .tasks-header button {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(245, 237, 237);
}

.tasks-div .task-list {
  padding: 0px 30px 10px 30px;
  margin: 20px 0;
  overflow: auto;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgb(235, 229, 229);
  margin: 10px 0 15px 0;
}

.task-item .item-left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task-item .item-left-part .item-checkbox {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  background-color: rgb(245, 237, 237);
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.task-item .item-left-part .item-title {
  font-size: 1.2rem;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-item .item-right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-width: 300px;
}

.task-item .item-right-part .item-due-date {
  font-weight: 500;
  font-size: 0.8rem;
}

.task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
}

.task-item.task-complete {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-left-part .item-checkbox {
  background-color: #6482AD;
}

.task-complete .item-left-part .item-title {
  text-decoration: line-through;
}

.task-complete .item-right-part .item-edit-btn {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-right-part .item-delete-btn {
  background-color: rgb(201, 201, 201);
}

.priority-low {
  border-left: 15px solid #508D4E;
}

.priority-medium {
  border-left: 15px solid #F9E400;
}

.priority-high {
  border-left: 15px solid #E4003A;
}

@media (max-width: 1200px) {
  .task-item .item-left-part .item-title {
    max-width: 250px;
  }
}
@media (max-width: 1000px) {
  .task-item .item-left-part .item-title {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .task-item .item-left-part .item-title {
    max-width: 150px;
  }
  .task-item .item-right-part {
    min-width: 200px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .task-item .item-right-part .item-due-date {
    width: 50px;
  }
}
@media (max-width: 480px) {
  .task-item {
    padding: 5px 10px;
  }
  .task-item .item-left-part .item-checkbox {
    margin-right: 0.5rem;
  }
  .task-item .item-left-part .item-title {
    font-size: 1rem;
    min-width: 75px;
    max-width: 75px;
  }
  .task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
    width: 1.3rem;
    height: 1.3rem;
  }
}
#header {
  font-family: Roboto;
  font-size: 3rem;
  font-weight: 500;
  padding: 20px;
  padding-left: 4rem;
  background-color: rgb(100, 130, 173);
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
}

#menu-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(100, 130, 173);
  display: none;
}

@media only screen and (max-width: 1000px) {
  #menu-btn {
    display: block;
  }
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar {
  min-width: 300px;
}

#content {
  width: 100%;
}

#content {
  font-family: Roboto;
  background-color: rgb(245, 237, 237);
}
#content .content-header {
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
}
#content.blur-content {
  opacity: 0.3;
}

.tasks-div {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.tasks-div .tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid rgb(100, 130, 173);
  padding: 15px 30px;
}
.tasks-div .tasks-header button {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(245, 237, 237);
}
.tasks-div .task-list {
  padding: 0px 30px 10px 30px;
  margin: 20px 0;
  overflow: auto;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgb(235, 229, 229);
  margin: 10px 0 15px 0;
}
.task-item .item-left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.task-item .item-left-part .item-checkbox {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  background-color: rgb(245, 237, 237);
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.task-item .item-left-part .item-title {
  font-size: 1.2rem;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.task-item .item-right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-width: 300px;
}
.task-item .item-right-part .item-due-date {
  font-weight: 500;
  font-size: 0.8rem;
}
.task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
}
.task-item.task-complete {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-left-part .item-checkbox {
  background-color: #6482AD;
}
.task-complete .item-left-part .item-title {
  text-decoration: line-through;
}
.task-complete .item-right-part .item-edit-btn {
  background-color: rgb(201, 201, 201);
}
.task-complete .item-right-part .item-delete-btn {
  background-color: rgb(201, 201, 201);
}

.priority-low {
  border-left: 15px solid #508D4E;
}

.priority-medium {
  border-left: 15px solid #F9E400;
}

.priority-high {
  border-left: 15px solid #E4003A;
}

@media (max-width: 1200px) {
  .task-item .item-left-part .item-title {
    max-width: 250px;
  }
}
@media (max-width: 1000px) {
  .task-item .item-left-part .item-title {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .task-item .item-left-part .item-title {
    max-width: 150px;
  }
  .task-item .item-right-part {
    min-width: 200px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .task-item .item-right-part .item-due-date {
    width: 50px;
  }
}
@media (max-width: 480px) {
  .task-item {
    padding: 5px 10px;
  }
  .task-item .item-left-part .item-checkbox {
    margin-right: 0.5rem;
  }
  .task-item .item-left-part .item-title {
    font-size: 1rem;
    min-width: 75px;
    max-width: 75px;
  }
  .task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
    width: 1.3rem;
    height: 1.3rem;
  }
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#todo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#content-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#sidebar {
  min-width: 300px;
}

#content {
  width: 100%;
}

#content {
  font-family: Roboto;
  background-color: rgb(245, 237, 237);
}

#content .content-header {
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
}

#content.blur-content {
  opacity: 0.3;
}

.tasks-div {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.tasks-div .tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 2px solid rgb(100, 130, 173);
  padding: 15px 30px;
}

.tasks-div .tasks-header button {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(245, 237, 237);
}

.tasks-div .task-list {
  padding: 0px 30px 10px 30px;
  margin: 20px 0;
  overflow: auto;
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgb(235, 229, 229);
  margin: 10px 0 15px 0;
}

.task-item .item-left-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.task-item .item-left-part .item-checkbox {
  height: 1.3rem;
  width: 1.3rem;
  cursor: pointer;
  background-color: rgb(245, 237, 237);
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.task-item .item-left-part .item-title {
  font-size: 1.2rem;
  max-width: 450px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-item .item-right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  min-width: 300px;
}

.task-item .item-right-part .item-due-date {
  font-weight: 500;
  font-size: 0.8rem;
}

.task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
}

.task-item.task-complete {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-left-part .item-checkbox {
  background-color: #6482AD;
}

.task-complete .item-left-part .item-title {
  text-decoration: line-through;
}

.task-complete .item-right-part .item-edit-btn {
  background-color: rgb(201, 201, 201);
}

.task-complete .item-right-part .item-delete-btn {
  background-color: rgb(201, 201, 201);
}

.priority-low {
  border-left: 15px solid #508D4E;
}

.priority-medium {
  border-left: 15px solid #F9E400;
}

.priority-high {
  border-left: 15px solid #E4003A;
}

@media (max-width: 1200px) {
  .task-item .item-left-part .item-title {
    max-width: 250px;
  }
}
@media (max-width: 1000px) {
  .task-item .item-left-part .item-title {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .task-item .item-left-part .item-title {
    max-width: 150px;
  }
  .task-item .item-right-part {
    min-width: 200px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .task-item .item-right-part .item-due-date {
    width: 50px;
  }
}
@media (max-width: 480px) {
  .task-item {
    padding: 5px 10px;
  }
  .task-item .item-left-part .item-checkbox {
    margin-right: 0.5rem;
  }
  .task-item .item-left-part .item-title {
    font-size: 1rem;
    min-width: 75px;
    max-width: 75px;
  }
  .task-item .item-right-part .item-detail-btn, .task-item .item-right-part .item-edit-btn, .task-item .item-right-part .item-delete-btn {
    width: 1.3rem;
    height: 1.3rem;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
}

.add-task-modal, .add-project-modal, .details-modal, .edit-task-modal {
  position: relative;
  max-width: 500px;
  margin: 10% auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  font-family: Inter;
  animation: scale-into 0.4s both;
}
.add-task-modal .add-task-header, .add-project-modal .add-task-header, .add-project-modal .add-project-header, .details-modal .add-task-header, .details-modal .details-header, .edit-task-modal .add-task-header, .edit-task-modal .edit-task-header {
  background-color: rgb(100, 130, 173);
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add-task-modal .add-task-header button, .add-project-modal .add-task-header button, .add-project-modal .add-project-header button, .details-modal .add-task-header button, .details-modal .details-header button, .edit-task-modal .add-task-header button, .edit-task-modal .edit-task-header button {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-color: rgb(235, 229, 229);
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: rgb(100, 130, 173);
}

.add-task-form, .add-project-form, .edit-task-form {
  background-color: rgb(245, 237, 237);
  border-radius: 5px;
  padding: 15px;
  overflow: hidden;
}
.add-task-form .form-input, .add-project-form .form-input, .edit-task-form .form-input {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.add-task-form .form-input label, .add-project-form .form-input label, .edit-task-form .form-input label {
  font-size: 1.2rem;
}
.add-task-form .form-input .input-text, .add-project-form .form-input .input-text, .edit-task-form .form-input .input-text {
  font-size: 1.1rem;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  transition: 0.3s;
}
.add-task-form .form-input .input-text:focus, .add-project-form .form-input .input-text:focus, .edit-task-form .form-input .input-text:focus {
  outline: none;
  border-color: rgb(127, 161, 195);
  transition: 0.3s;
}
.add-task-form .form-input .input-textarea, .add-project-form .form-input .input-textarea, .edit-task-form .form-input .input-textarea {
  font-size: 1.1rem;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  transition: 0.3s;
  resize: vertical;
  max-height: 250px;
}
.add-task-form .form-input .input-textarea:focus, .add-project-form .form-input .input-textarea:focus, .edit-task-form .form-input .input-textarea:focus {
  outline: none;
  border-color: rgb(127, 161, 195);
  transition: 0.3s;
}
.add-task-form .form-input .input-date, .add-project-form .form-input .input-date, .edit-task-form .form-input .input-date {
  font-size: 1.1rem;
  font-family: Roboto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  transition: 0.3s;
}
.add-task-form .form-input .input-date:focus, .add-project-form .form-input .input-date:focus, .edit-task-form .form-input .input-date:focus {
  outline: none;
  border-color: rgb(127, 161, 195);
  transition: 0.3s;
}
.add-task-form .form-input .label-star, .add-project-form .form-input .label-star, .edit-task-form .form-input .label-star {
  color: #E4003A;
}
.add-task-form .priority-input, .add-project-form .priority-input, .edit-task-form .priority-input {
  padding: 10px 0;
}
.add-task-form .priority-input .priority-input-title, .add-project-form .priority-input .priority-input-title, .edit-task-form .priority-input .priority-input-title {
  font-size: 1.2rem;
}
.add-task-form .priority-input .priority-btn-div, .add-project-form .priority-input .priority-btn-div, .edit-task-form .priority-input .priority-btn-div {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 5px 0;
}
.add-task-form .priority-input .radio-btn-label, .add-project-form .priority-input .radio-btn-label, .edit-task-form .priority-input .radio-btn-label {
  display: block;
  background: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  z-index: 90;
}
.add-task-form .priority-input #low.radio-btn-label, .add-project-form .priority-input #low.radio-btn-label, .edit-task-form .priority-input #low.radio-btn-label {
  color: #508D4E;
  border: 2px solid #508D4E;
}
.add-task-form .priority-input #low.radio-btn-label:hover, .add-project-form .priority-input #low.radio-btn-label:hover, .edit-task-form .priority-input #low.radio-btn-label:hover {
  color: rgb(245, 237, 237);
  background-color: #508D4E;
}
.add-task-form .priority-input #medium.radio-btn-label, .add-project-form .priority-input #medium.radio-btn-label, .edit-task-form .priority-input #medium.radio-btn-label {
  color: rgb(255, 168, 35);
  border: 2px solid rgb(255, 168, 35);
}
.add-task-form .priority-input #medium.radio-btn-label:hover, .add-project-form .priority-input #medium.radio-btn-label:hover, .edit-task-form .priority-input #medium.radio-btn-label:hover {
  color: rgb(245, 237, 237);
  background-color: rgb(255, 168, 35);
}
.add-task-form .priority-input #high.radio-btn-label, .add-project-form .priority-input #high.radio-btn-label, .edit-task-form .priority-input #high.radio-btn-label {
  color: #E4003A;
  border: 2px solid #E4003A;
}
.add-task-form .priority-input #high.radio-btn-label:hover, .add-project-form .priority-input #high.radio-btn-label:hover, .edit-task-form .priority-input #high.radio-btn-label:hover {
  color: rgb(245, 237, 237);
  background-color: #E4003A;
}
.add-task-form .priority-input .radio-btn, .add-project-form .priority-input .radio-btn, .edit-task-form .priority-input .radio-btn {
  position: fixed;
  width: 0;
  opacity: 0;
}
.add-task-form .priority-input .radio-btn-label:hover, .add-project-form .priority-input .radio-btn-label:hover, .edit-task-form .priority-input .radio-btn-label:hover {
  transition: 0.3s;
}
.add-task-form .priority-input .radio-btn:checked + #low.radio-btn-label, .add-project-form .priority-input .radio-btn:checked + #low.radio-btn-label, .edit-task-form .priority-input .radio-btn:checked + #low.radio-btn-label {
  color: rgb(245, 237, 237);
  background-color: #508D4E;
  transition: 0.3s;
}
.add-task-form .priority-input .radio-btn:checked + #medium.radio-btn-label, .add-project-form .priority-input .radio-btn:checked + #medium.radio-btn-label, .edit-task-form .priority-input .radio-btn:checked + #medium.radio-btn-label {
  color: rgb(245, 237, 237);
  background-color: rgb(255, 168, 35);
  transition: 0.3s;
}
.add-task-form .priority-input .radio-btn:checked + #high.radio-btn-label, .add-project-form .priority-input .radio-btn:checked + #high.radio-btn-label, .edit-task-form .priority-input .radio-btn:checked + #high.radio-btn-label {
  color: rgb(245, 237, 237);
  background-color: #E4003A;
  transition: 0.3s;
}

.submit-btn, .details-content-container .details-close-btn {
  float: inline-end;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  background: none;
  font-family: Inter;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid rgb(100, 130, 173);
  transition: 0.2s;
  cursor: pointer;
}
.submit-btn:hover, .details-content-container .details-close-btn:hover {
  background-color: rgb(100, 130, 173);
  color: rgb(245, 237, 237);
  transition: 0.2s;
}

.add-project-form {
  padding: 25px;
}
.add-project-form .form-input {
  padding: 20px 0;
}
.add-project-form .form-input label {
  padding-bottom: 5px;
}

.details-content-container {
  background-color: rgb(245, 237, 237);
  border-radius: 5px;
  padding: 0px 30px 30px 30px;
  overflow: hidden;
}
.details-content-container .details-content-row {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  border-bottom: 1px solid rgb(100, 130, 173);
}
.details-content-container .details-label {
  width: 150px;
  font-weight: 600;
  font-size: 1.1rem;
}
.details-content-container .details-content {
  max-width: 300px;
  overflow: auto;
}
.details-content-container .details-priority-low {
  color: #508D4E;
  font-weight: 600;
}
.details-content-container .details-priority-medium {
  color: rgb(255, 168, 35);
  font-weight: 600;
}
.details-content-container .details-priority-high {
  color: #E4003A;
  font-weight: 600;
}
.details-content-container .details-close-btn {
  margin-top: 25px;
}

.hidden {
  display: none;
}

.modal-fade-in {
  animation: fade-in 0.4s both;
}

.modal-fade-out {
  animation: fade-out 0.4s both;
}

.form-closed {
  animation: scale-out 0.4s both;
}

@keyframes scale-into {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}